<%= form_with(model: feed) do |form| %>
  <% if feed.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :title, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :url, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :url, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :link, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :link, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :icon, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :icon, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :description, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :directory_id, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :directory_id, current_user.directories.map { |dir| [dir.title, dir.id] }, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
