<div class="card rss-article" data-list-target="article" data-article-id="<%= article.id %>">
  <div class="card-header">
    <%= feed_icon article.feed, "16" %>&nbsp;
    <span class="font-weight-lighter"><%= article.feed.title %></span>&nbsp;
    <%= article.title %>
    <%= fa_icon "star", class: "float-right" %>
  </div>
  <div class="card-body">
    <h3><a href="<%= article.url %>" target="_blank" rel="noopener noreferrer"><%= article.title %>&nbsp;<%= fa_icon "external-link-alt" %></a></h3>
    <% article_tags = @tags.select { |t| t.article_id == article.id } %>
    <p><%= article.author ? "By: #{article.author} " : "" %><%= article_tags.length > 0 ? "(#{article_tags.map(&:title).join(", ")})" : "" %></p>
    <div class="content">
      <%= mark_safe article.description %>
    </div>
  </div>
  <div class="card-footer font-weight-lighter">
    <label for="read-<%= article.id %>">Read</label>&nbsp;
    <input
      name="read-<%= article.id %>"
      type="checkbox"/>&nbsp;&nbsp;
    <span title="<%= article.pub_date.to_s %>"><%= time_ago_in_words article.pub_date %> ago</span>
    <div class="btn-group float-right" role="group">
      <button class="btn btn-secondary btn-xs"><%= fa_icon "angle-double-up" %></button>
      <button class="btn btn-secondary btn-xs"><%= fa_icon "angle-up" %></button>
      <button class="btn btn-secondary btn-xs"><%= fa_icon "angle-down" %></button>
      <button class="btn btn-secondary btn-xs"><%= fa_icon "angle-double-down" %></button>
    </div>
  </div>
</div>
